snippet cl "console.log('debugger ')" b
console.log(
`!p snip.rv = snip.mkline("	")`'debugger 🐛 $1',
`!p snip.rv = snip.mkline("	")`$1
);$0
endsnippet

snippet rn "return" b
return 
endsnippet

snippet cn "const" b
const 
endsnippet

snippet import "const" b
import { 

} from '$0'
endsnippet
